/**
* Description: Sample theme for site which extends the Pretto grid-theme.
*/

@import url("../grid/style.css");

html
{
	background-color:#cc6666;
}
body
{
	background-color:#cc6666;
	font-family: Georgia,serif;
}

a{color:#436370}

#login-menu 
{
	background-color:#ffffcc;
	margin: 5px;
}

#inner-wrap-header
{
	background-color:#ffffcc;
}

#outer-wrap-header
{
	border: none;
	margin-bottom: 0;
}

#inner-wrap-main
{
	background-color:#ffffcc;
	margin-bottom: 0px;
	padding-top: 11px;
}

#header
{
	width: 100%;
	margin: 0;
}

#navbar{
	width: 100%;
	background-color: #FFCC99;
}

#navbar ul.menu li a.selected
{
	border: 2px solid rgba(0, 0, 0, 0);
}

#outer-wrap-footer{
	background-color:#cc6666;
	border: none;
}

#inner-wrap-footer{
	background-color:#FFCC99;
	border-top: 1px solid #BBBBBB;
}

h1, h2, h3, h4, h5
{
	font-family: Georgia,serif;
}


#navbar ul.menu li a.selected{background-color:#D0DCE1;border-bottom:none;}

