/**
* Description: Core theme for Pretto
*/

/**
* Structure
*/
html{}
body
{
   background-color:#FFF;
   font: 1em Verdana, Arial, Helvetica, sans-serif;
}

#header,
#main,
#footer 
{
   margin:0 auto;
   width:970px;
   background-color:#fff;
   padding: 1em;
}

/**
* Form input fields during validation.
* CFormElement::getHTML()
*
*/
.validation-failed{border:2px solid red;}
.validation-message{color:red;font-size:smaller;}